app/src/main/res/layout/activity_create_account.xml1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.android.com/apk/res/android" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:attribute name="layout_width" type="xs:string"/>
  <xs:attribute name="layout_height" type="xs:string"/>
  <xs:attribute name="id" type="xs:string"/>
  <xs:attribute name="layout_marginStart" type="xs:string"/>
  <xs:attribute name="layout_marginLeft" type="xs:string"/>
  <xs:attribute name="layout_marginTop" type="xs:string"/>
  <xs:attribute name="layout_marginEnd" type="xs:string"/>
  <xs:attribute name="layout_marginRight" type="xs:string"/>
  <xs:attribute name="layout_marginBottom" type="xs:string"/>
  <xs:attribute name="text" type="xs:string"/>
  <xs:attribute name="textSize" type="xs:string"/>
  <xs:attribute name="ems" type="xs:string"/>
  <xs:attribute name="hint" type="xs:string"/>
  <xs:attribute name="inputType" type="xs:string"/>
</xs:schema>